//***常量定义***//
//颜色
COLOR_BLACK = black
COLOR_WHITE = white

//字体大小
FONT_12 = 12
FONT_14 = 14
FONT_NAME_YAHEI = "微软雅黑"
FONT_NAME_COMMON =  "微软雅黑 ,tahoma,arial";

//宽度
WIDTH_BIG = 960
WIDTH_MID = 320
WIDTH_SMALL = 120